# Node
node_modules
dist
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDEs
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv
.env
.env.*.local

# Temp
.temp
.tmp

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Prisma generated
/generated/prisma
