# Node modules y builds
node_modules
dist

# Logs
*.log

# Archivos de entorno
.env
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
prisma/dev.db
prisma/migrations

# Docker
docker-compose.override.yml
