# ================ ENTORNO ================
# Valores posibles: development, production
NODE_ENV=development
PORT=3000

# ================ POSTGRESQL (OBLIGATORIO) ================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nestdb
DATABASE_URL="postgresql://postgres:postgres@db:5432/nestdb?schema=public"

# ================ PRISMA ================
PRISMA_SCHEMA_DISABLE_ADVISORY_LOCK=1