# ======== ENVIRONMENT ========
NODE_ENV=development
PORT=3000

# ======== DATABASE ========
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
DATABASE_URL="postgresql://user:password@host:port/db?schema=public"

# ======== SECURITY ========
HELMET_HSTS_ENABLED=false
RATE_LIMIT_MAX=100